html, body, .map-content {
    height: 800px;
}

body {
    background-color: #bdbdbd;
}

li.selected {
    background-color: #fed41c;
}

.content {
    padding: 2em;
}

.map-content {
    /*width: 72%;*/
    /*background-color: lightslategrey;*/
}

.location-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
}

.locations-list {
    padding-left: 0;
    margin-bottom: 20px;
}

header {
    color: #ddd;
}
.neighborhood {
    color: #fed41c;
}

.caret {
    float: right;

}

footer {
    text-align: right;
    padding-top: 15px;
    /*background-color: #ddd;*/
    font-size: 0.85em;
    color: #737373;
}

.icon-sm {
    width: 25px;
}

.icon-lr {
    width: 100px;
}

.map-placeholder {
    background-image: url("../img/alcazar-de-colon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.map-missing-excuse {
    position: absolute;
    text-align: end;
    bottom: 100px;
    right: 20px;
    background-color: rgba(254,212,28,0.6);
    /*background-color: rgba(50,50,50,0.6);*/
    border-radius: 10px;
    padding: 10px;
}

@media (min-width: 767px) {
    button.close,
    .caret {
        display: none;
    }
}

@media (max-width: 767px) {
    .hide {
        display: none;
    }

    header h4 {
        /*font-size: 1em;*/
        margin-top: 0;
    }

    header h1 {
        margin: 0;
    }

    section.content {
        padding-bottom: 10px;
    }
}

